
.full-body{
  overflow: hidden;
}
.contact-info{
  padding: 2%;

}
.contact-details {
  background-image: linear-gradient(#ff9671, #ff6f91);
  color: rgb(255, 255, 255);
  margin: 10%;
  border-radius: 10px;


}

.moreInfo {
  background-color: #c4fcef;
  color: #4e8397;
  margin: 4%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 5px 8px #888888;
}
.moreInfo-heading {
  color: #c34a36;
}

