.footer {
  padding: 40px 0;
  background-color: #e2d6d69f;
  color: #3d423e;
}

.footer-ul {
  padding: 0;
  list-style: none;

  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.footer-li {
  padding: 0 10px;
}
.icon {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.copyright{
text-align: center};